<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Webhook.co</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
    <link rel="import" href="/bower_components/paper-card/paper-card.html" />
    <link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html" />
    <link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html" />
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html" />
    <link rel="import" href="/bower_components/paper-item/paper-icon-item.html" />
    <link rel="import" href="/bower_components/paper-item/paper-item-body.html" />
    <link rel="import" href="/bower_components/paper-item/paper-item.html" />
    <link rel="import" href="/bower_components/paper-menu/paper-menu.html" />
    <link rel="import" href="/bower_components/paper-styles/paper-styles.html" />
    <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html" />
    <style is="custom-style">
    .header {
      @apply(--shadow-elevation-2dp);
    }
    </style>
  </head>
  <body unresolved>
    <paper-drawer-panel>
      <paper-header-panel drawer>
        <div class="logo">Webhook.co</div>
        <div>
          <dom-module is="wh-menu">
            <template>
              <paper-menu>
                <paper-item icon="lock" on-tap="menuSelected" mypath="/login">
                  Sign In / Register
                </paper-item>
                <paper-item on-tap="menuSelected" mypath="http://twitter.com/webhookco">
                  Follow on Twitter
                </paper-item>
                <paper-item mypath="http://telegram.me/WebhookCo" on-tap="menuSelected">
                  Join Chat on Telegram
                </paper-item>
                <paper-item mypath="http://github.com/predictionguru/webhook" on-tap="menuSelected">
                  Fork Github
                </paper-item>
              </paper-menu>
            </template>
          </dom-module>
          <wh-menu></wh-menu>
        </div>
      </paper-header-panel>
      <paper-header-panel class="header" main>
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div class="title">Webhook.co</div>
        </paper-toolbar>
        <paper-card heading="What is Webhook?">
          <div class="card-content">
            <p>A WebHook is an HTTP callback: an HTTP POST that occurs when something happens; a simple event-notification via HTTP POST. A web application implementing WebHooks will POST a message to a URL when certain things happen.</p>
            <p>
            A web application implementing WebHooks will POST a message to a URL when certain things happen. When a web application enables users to register their own URLs, the users can then extend, customize, and integrate that application with their own custom extensions or even with other applications around the web. For the user, WebHooks are a way to receive valuable information when it happens, rather than continually polling for that data and receiving nothing valuable most of the time. WebHooks have enormous potential and are limited only by your imagination! (No, it can't wash the dishes. Yet.)
            </p>
            <br/>
            <h2>Webhook.co</h2>
            <p>
              Webhook.co generate url to use it in your development application. With each development activities (such as git push, travis pass or fail, etc) webhook.co will push information to your selected services.
            </p>
            <p>
              <img class="infograph" src="https://storage.googleapis.com/pgwebhook/WebhookInfo.png" />
            </p>
          </div>
          <div class="card-actions">
            <a href="https://webhooks.pbworks.com/w/page/13385124/FrontPage" target="_blank">webhooks.pbworks.com</a>
          </div>
        </paper-card>
        <paper-card heading="Hooks">
          <div class="card-content">
            <div class="list">
              <paper-icon-item>
                <div class="avatar github" item-icon></div>
                <paper-item-body two-line>
                  <div>Github</div>
                  <div secondary>Only Push</div>
                </paper-item-body>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar bitbucket" item-icon></div>
                <paper-item-body two-line>
                  <div>Bitbucket</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar doorbell" item-icon></div>
                <paper-item-body two-line>
                  <div>Doorbell.io</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar travis" item-icon></div>
                <paper-item-body two-line>
                  <div>Travis</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar teamcity" item-icon></div>
                <paper-item-body two-line>
                  <div>TeamCity</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar pingdom" item-icon></div>
                <paper-item-body two-line>
                  <div>Pingdom</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
            </div>
          </div>
        </paper-card>
        <paper-card heading="Services">
          <div class="card-content">
            <div class="list">
              <paper-icon-item>
                <div class="avatar trello" item-icon></div>
                <paper-item-body two-line>
                  <div>Trello</div>
                  <div secondary>Create card</div>
                </paper-item-body>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar telegram" item-icon></div>
                <paper-item-body two-line>
                  <div>Telegram</div>
                  <div secondary>@WebhookCoBot</div>
                </paper-item-body>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar pushover" item-icon></div>
                <paper-item-body two-line>
                  <div>Pushover</div>
                  <div secondary>Notification</div>
                </paper-item-body>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar hipchat" item-icon></div>
                <paper-item-body two-line>
                  <div>Hipchat</div>
                  <div secondary>Notification</div>
                </paper-item-body>
              </paper-icon-item>
            </div>
          </div>
        </paper-card>
      </paper-header-panel>
    </paper-drawer-panel>
    <script>
    Polymer({
      is: 'wh-menu',
      menuSelected: function (e) {
        var mypath = e.currentTarget.getAttribute('mypath');
        if (mypath.indexOf('/') !== 0) {
          var win = window.open(mypath, '_blank');
          win.focus();
        } else {
          location.href = mypath;
        }
      },
    });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-68498210-1', 'auto');
    ga('send', 'pageview');
    </script>
  </body>
</html>
