<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Webhook.co</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
    <link rel="import" href="/bower_components/paper-card/paper-card.html" />
    <link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html" />
    <link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html" />
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html" />
    <link rel="import" href="/bower_components/paper-item/paper-icon-item.html" />
    <link rel="import" href="/bower_components/paper-item/paper-item-body.html" />
    <link rel="import" href="/bower_components/paper-item/paper-item.html" />
    <link rel="import" href="/bower_components/paper-menu/paper-menu.html" />
    <link rel="import" href="/bower_components/paper-styles/paper-styles.html" />
    <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html" />
    <style is="custom-style">
    .header {
      @apply(--shadow-elevation-2dp);
    }
    </style>
  </head>
  <body unresolved>
    <paper-drawer-panel>
      <paper-header-panel drawer>
        <div class="logo"></div>
        <div>
          <dom-module is="wh-menu">
            <template>
              <paper-menu>
                <paper-item icon="lock" on-tap="menuSelected" mypath="/login">
                  Sign In / Register
                </paper-item>
                <paper-item on-tap="menuSelected" mypath="http://twitter.com/webhookco">
                  Follow on Twitter
                </paper-item>
                <paper-item mypath="http://telegram.me/WebhookCo" on-tap="menuSelected">
                  Join Chat on Telegram
                </paper-item>
                <paper-item mypath="http://github.com/predictionguru/webhook" on-tap="menuSelected">
                  Fork Github
                </paper-item>
              </paper-menu>
            </template>
          </dom-module>
          <wh-menu></wh-menu>
        </div>
      </paper-header-panel>
      <paper-header-panel class="header" main>
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div class="title">Webhook.co</div>
        </paper-toolbar>
        <paper-card heading="What is Webhook?">
          <div class="card-content">
            <p>Webhook is a method of altering and augmenting the behavior of web applications, or a web pages, using some custom callbacks. These callbacks handled, modified, managed and maintained by some third-party developers and users who may not necessarily be affiliated with the origination web application or web page.</p>
            <p>Webhook.co offers the similar service for your web based application. It simply generates a URL which can be used in all your development application. Once your application performs any action such as git push, Travis pass or Travis fail etc. then Webhook.co will push the same information to your selected services. Isn’t is simple and amazing!</p>
            <p>The popular applications which are already using web hooks include Assembla, CallMyApp, FreshBooks, Google Code, GitHub, Femtoo and PayPal etc. If you are also looking for a solution for your web hooks work then this is the right place to visit.</p>
            <br/>
            <h2>Webhook.co</h2>
            <p>
              Webhook.co provides a specific URL to users for various events, a web application will POST the data to those URLs when an action perform. It is very simple to use and it’s up to you and whatever you want to accomplish. Using our service, developers can create notification for themselves, real-time synchronization with other app, validate the data and also prevent it from being used by the application and process the data and repost using various APIs.
            </p>
            <p>
              <img class="infograph" src="https://storage.googleapis.com/pgwebhook/WebhookInfo.png" />
            </p>
            <p>Webhook.co provide hooks for most popular platforms such as Github (only push action), Bitbucket, Travis, Doorbell.co, TeamCity and Pingdom. We also offer services for Telegram, Pushover, Hipchat and Trello. The service includes three types of actions:
            <ul>
              <li><b>Push</b>: is used to receive data in real time.</li>
              <li><b>Plugins</b>: is used to process data and return something.</li>
            </ul>
            </p>
            <p>Webhook.co team let you offer a URL which is used to access all the APIs. The same URL works for accessing all the hooks and services offered by us. Our team is dedicated to offering these services as easy as possible to our client, users, and developers. We also listen to our end-users for any modification, features, queries or issues in order to make our service more flexible, durable and easy to use.</p>
          </div>
        </paper-card>
        <paper-card heading="Hooks">
          <div class="card-content">
            <div class="list">
              <paper-icon-item>
                <div class="avatar github" item-icon></div>
                <paper-item-body two-line>
                  <div>Github</div>
                  <div secondary>Only Push</div>
                </paper-item-body>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar bitbucket" item-icon></div>
                <paper-item-body two-line>
                  <div>Bitbucket</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar doorbell" item-icon></div>
                <paper-item-body two-line>
                  <div>Doorbell.io</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar travis" item-icon></div>
                <paper-item-body two-line>
                  <div>Travis</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar teamcity" item-icon></div>
                <paper-item-body two-line>
                  <div>TeamCity</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar pingdom" item-icon></div>
                <paper-item-body two-line>
                  <div>Pingdom</div>
                  <div secondary>Complete</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar jenkins" item-icon></div>
                <paper-item-body two-line>
                  <div>Jenkins</div>
                  <div secondary>Job Notifications</div>
                </paper-item-body>
                <iron-icon icon="done"></iron-icon>
              </paper-icon-item>
            </div>
          </div>
        </paper-card>
        <paper-card heading="Services">
          <div class="card-content">
            <div class="list">
              <paper-icon-item>
                <div class="avatar trello" item-icon></div>
                <paper-item-body two-line>
                  <div>Trello</div>
                  <div secondary>Create card</div>
                </paper-item-body>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar telegram" item-icon></div>
                <paper-item-body two-line>
                  <div>Telegram</div>
                  <div secondary>@WebhookCoBot</div>
                </paper-item-body>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar pushover" item-icon></div>
                <paper-item-body two-line>
                  <div>Pushover</div>
                  <div secondary>Notification</div>
                </paper-item-body>
              </paper-icon-item>
              <paper-icon-item>
                <div class="avatar hipchat" item-icon></div>
                <paper-item-body two-line>
                  <div>Hipchat</div>
                  <div secondary>Notification</div>
                </paper-item-body>
              </paper-icon-item>
            </div>
          </div>
        </paper-card>
      </paper-header-panel>
    </paper-drawer-panel>
    <script>
    Polymer({
      is: 'wh-menu',
      menuSelected: function (e) {
        var mypath = e.currentTarget.getAttribute('mypath');
        if (mypath.indexOf('/') !== 0) {
          var win = window.open(mypath, '_blank');
          win.focus();
        } else {
          location.href = mypath;
        }
      },
    });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-68498210-1', 'auto');
    ga('send', 'pageview');
    </script>
  </body>
</html>
